@import "tailwindcss";

@theme {
  --color-primary: #00ff95;
  --color-primary-dark: #00cc78;
  --color-secondary: #8dceb3;
  --color-background-light: #f5f8f7;
  --color-background-dark: #0f231b;
  --color-surface-dark: #163328;
  --color-border-dark: #204b39;
  --color-text-secondary: #8dceb3;
  --color-danger: #ff3b30;
  --color-card-dark: #163026;
  --color-surface-border: #204b39;

  --font-display: var(--font-inter);
}

@custom-variant dark (&:where(.dark, .dark *));

/* Custom scrollbar for an AI vibe */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0f241b; 
}
::-webkit-scrollbar-thumb {
  background: #204b39; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00ff95; 
}
